/*this the main coontainer of the page, provided by bootstrape*/
.hangman-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  background-color: white;
  border: 5px solid grey;
  margin-left: 350px;
  border-radius: 15px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*alinging the drawings to show the hangman with each progress of the game*/
.hangman-image-container {
  display: flex;
  justify-content: center;
}
/*this is responsible for the images when the user guesses wrong */
.text-center {
  display: flex;
  flex-direction: column;
  margin-left: 240px;
  align-content: center;
  justify-content: center;
  width: 250px;
  height: auto;
}
.text-center img {
  width: 250px;
  height: auto;
}
/*when you fail the game and its over*/
.text-center h3 {
  font-size: 30px;
}
/*the input box where the user/player inputs the guessed letters*/
.input {
  width: 250px;
  height: 30px;
  margin-bottom: 5px;
}
/*if you win or lose the restart button will appear , to play again.*/
.text-center button {
  width: 150px;
  height: 42px;
  background-color: bisque;
  border: none;
  border-radius: 5px;
}
