/*styling the box the contain the instructions of how to play the game and the rules*/
.help_cover {
  border: 1px solid orange;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
  margin-left: 350px;
  margin-top: 20px;
  font-size: large;
  border-radius: 15px;
  line-height: 25px;
}
/*the button that link us back to the game page*/
.game_container button {
  width: 150px;
  height: 30px;
  background-color: #ff2171;
  border: none;
  border-radius: 5px;
  color: aliceblue;
}
